TELEGRAM_BOT_TOKEN=
OLLAMA_URL="http://localhost:11434"
MODEL_NAME="llama3.2"
OPENAI_API_URL=
OPEN_AI_KEY=EMPTY

URL_WAKTU_SOLAT="https://api.waktusolat.app"
URL_FOODIE="https://api.kalori-api.my/api/v1"
API_KEY_FOODIE=

SERPER_API_KEY=
SERPER_NEWS_URL="https://google.serper.dev/news"
SERPER_PLACES_URL="https://google.serper.dev/places"
